.App {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

:global(*) {
  margin: 0;
  padding: 0;
  font-family: "Regular", Arial, Helvetica, sans-serif;
}
:global(.container) {
  padding-left: calc(50% - 577px);
  padding-right: calc(50% - 577px);
}

:global(.small-text) {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@font-face {
  font-family: "Regular";
  src: local("Stratos-Regular"),
    url("../../../public/fonts/Stratos-Regular.woff2") format("woff2"),
    url("../../../public/fonts/Stratos-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.heading {
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-top: 40px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonLogin {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 5px 16px 7px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  background: #140d40;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.buttonLogin:hover {
  background: #2d1f79;
  transition: 0.5s;
}
.buttonLogin:active {
  background: #3b29a1;
  transition: 0.2s;
}

.reasonsBlock {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.reasons {
  display: flex;
  align-items: flex-start;
  gap: 87px;
  width: 235px;
  padding-top: 0px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.number {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7e957;
  color: #000;
  font-family: "Regular", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

/* .content-container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  align-items: center;
  column-gap: 80px;
  margin-top: 22px;
  box-sizing: border-box;
  padding-left: 30px;
} */

.directions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 22px;
  column-gap: 80px;
  margin-top: 22px;
  box-sizing: border-box;
}

.directions li {
  list-style-position: inside;
}

.direction {
  width: 600px;
}

.text {
  width: 1160px;
  margin-top: 40px;
  text-align: justify;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.left {
  width: 1160px;
  height: 300px;
  border-radius: 30px;
  margin-top: 40px;

  background-color: #f9ebff;

  background-image: url("../../../public/img/Group.svg");
  /*background-size: cover;*/
  background-position: right;
  background-repeat: no-repeat;
  backdrop-filter: blur(15px);
}

.lefttext {
  padding-top: 40px;
  width: 823px;
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  /* text-align: left; */
  padding-left: 40px;
}
