@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"),
    url(./fonts/StratosLCWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  /* width: 1440px; */
  height: 1460px;
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
  background: #fafafa;
}

.logo-wrapper {
  height: 60px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo {
  width: 100%;
  height: auto;
  background-image: url(./nikitaImg/logo.png);
  background-repeat: no-repeat;
  padding-left: 0px;
}

.user-wrapper {
  display: grid;
  grid-template-columns: 65px 90px 50px;
  width: 169px;
  height: 50px;
  align-items: center;
}

.user-avatar {
  width: 100%;
  height: 100%;
  background-image: url(./nikitaImg/avatar.png);
  background-repeat: no-repeat;
}

.user-name {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.10000000149011612px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.header {
  font-family: StratosSkyeng;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  align-self: flex-start;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.categorie {
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.video {
  width: 1160px;
  height: 639px;
  flex-shrink: 0;
  background-image: url(./nikitaImg/video.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.play-video {
  width: 156px;
  height: 156px;
  flex-shrink: 0;
  fill: #fafafa;
  opacity: 0.75;
  position: relative;
  align-self: center;
  background-image: url(./nikitaImg/play.png);
  background-repeat: no-repeat;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
}

.exercises-wrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.exercises-header {
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.exercises {
  list-style: inside;
  list-style-position: outside;
}

.exercise {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  /* text-align: left; */
  padding-right: 100px;
  /* padding-left: 0pt; */
}

.button {
  width: 275px;
  height: 52px;
  border-radius: 46px;
  flex-shrink: 0;
  background-color: rgba(88, 14, 162, 1);
  color: rgba(250, 250, 250, 1);
  margin-top: 30px;
  /* font-family: StratosSkyeng; */
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05000000074505806px;
  cursor: pointer;
}

.progress-wrapper {
  width: 938px;
  height: 350px;
  border-radius: 30px;
  background-color: rgba(242, 242, 242, 1);
  display: grid;
  grid-template-rows: 60px 60px 60px 60px;
  justify-content: center;
  margin-top: 30px;
}

.progress-header {
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding-top: 30px;
  text-align: center;
}

.progress-line {
  display: grid;
  grid-template-columns: 300px 300px;
}

.progress-text {
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  padding-left: 20px;
}

.progress-one {
  width: 100%;
  height: 100%;
  background-image: url(./nikitaImg/progressOne.png);
  background-repeat: no-repeat;
}

.progress-two {
  width: 100%;
  height: 100%;
  background-image: url(./nikitaImg/progressTwo.png);
  background-repeat: no-repeat;
}

.progress-three {
  width: 100%;
  height: 100%;
  background-image: url(./nikitaImg/progressThree.png);
  background-repeat: no-repeat;
}
