/* @font-face {
  font-family: "Regular";
  src: url("../../../public/fonts/Stratos-Regular.woff2") format("woff2"),
    url("../../../public/fonts/Stratos-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 */

.main {
  background: #271a58;
  background-size: cover;
  min-height: 100vh;
  padding-left: calc(50% - 577px);
  padding-right: calc(50% - 577px);
  padding-top: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}

.img_box {
  position: relative;
  cursor: pointer;
  width: 360px;
  height: 480px;
}
.img_box:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.img_title {
  position: absolute;
  left: 30px;
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.5px;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: -0.05px;
  opacity: 0.5;
  padding-bottom: 17px;
}
.subtitle {
  color: #f4f4ff;
  width: 70%;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 91.5%; /* 54.9px */
  letter-spacing: -1.169px;
}

.content_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
}
.img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0 24px;
  height: 52px;
  border-radius: 46px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05px;
  background: #c7e957;
  align-content: center;
}

.button:hover {
  background: #daf289;
  transition: 0.5s;
}
.button:active {
  background: #ebffab;
  transition: 0.2s;
}

.buttonLogin {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 5px 16px 7px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  background: #140d40;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.buttonLogin:hover {
  background: #2d1f79;
  transition: 0.5s;
}
.buttonLogin:active {
  background: #3b29a1;
  transition: 0.2s;
}
